@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: #ffffff;
  background-color: #222222;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.button-group > *,
.button-group .wallet-adapter-button {
  width: 100%;
  margin-bottom: 4px;
}

.button-group .wallet-adapter-button-trigger {
  background-color: #512da8;
}

@media (min-width: 768px) {
  .button-group > *,
  .button-group .wallet-adapter-button {
    width: auto;
    margin-bottom: 0;
  }

  .button-group > *:first-child {
    margin-right: 8px;
  }

  .button-group > *:last-child {
    margin-left: 8px;
  }
}
